<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <title>{% block title %}{% endblock %}</title>
      <link href="{% static 'css/leaflet/leaflet.css' %}" rel="stylesheet">
      <link href="{% static 'css/site.css' %}" rel="stylesheet">
        <script type="text/javascript">
            var mymap;
            var markers;
            var dataFilterName;
        </script>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static 'js/jquery/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'js/leaflet/leaflet.js' %}"></script>
        <script src="{% static 'js/site/common.js' %}"></script>
        <script src="{% static 'js/site/map_home.js' %}"></script>
        <script  src="{% static 'js/js.cookie.min.js' %}"></script>

        <script type="text/javascript">
            var mymap;
            var markers;
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
    </body>
</html>
