{% extends "base.html" %}
{% block title %}Markers{% endblock %}

{% block content %}
    <div class="" id="rowScrollerAndMap">
        <div class="" id="mapContainer">
            <div class="" id="mapbox-col" >
                <center><div id="mapbox" class="" style="height: 768px;width: 1024px;"></div></center>
            </div>
        </div>
    </div>

<script type="text/javascript">
    window.onload = function(){
        mymap = mapInit();
        jQuery.ajax({
            'dataType':'json',
            type     :'GET',
            cache    : false,
            url  : '{% url "pinpoint:marker_ajax" %}',
        }).done(function(response) {
               showMap(mymap,response['markers']);
            })
    }
  </script>
{% endblock %}
